.hero {
    max-width: 1600px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px){
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/studio/mobile-hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $background_color;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../img/studio/mobile-hero-bg@2x.jpg);
        }

    @media (min-width: 768px){
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/studio/hero-bg-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/studio/hero-bg-tablet@2x.jpg);
        }
    }

    @media (min-width: 1200px){
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/studio/hero.jpg);
                
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../img/studio/hero-bg@2x.jpg);
        }
    }

    &__tagline {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $primary-white-color;

        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 360px;

        @media screen and (min-width: 1200px){
            font-size: 44px;
            line-height: 1.36;
            max-width: 696px;
        }
    }

    &__btn {
        @extend %btn;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;

    }
}