.cards {
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item{
        @media screen and (min-width: 768px) and (max-width: 1199px) {
                width: calc((100% - 4 * 15px) / 2);
                margin: 15px;
            }
        @media screen and (min-width: 1200px) {
                width: calc((100% - 6 * 15px) / 3);
                margin: 15px;
            }
    }
    
    // &__img{
    //     height: 294px;
    // }

    &__item:not(:last-child) {
        margin-bottom: 30px;
    }

    // &__item:nth-child(3n) {
    //     margin-right: 0;
    // }

    &__link {
        display: inline-block;
        text-decoration: none;

        transition: box-shadow $animation-time $cubic;
    }

    &__link:hover,
    &__link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__info {
        border-right: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        padding: 20px 24px;

    &--tablet{
        @media screen and (min-width: 768px) and (max-width: 1199px){
            height: 146px;
        }
        
    }
    }

    


    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $title-text-color;

        margin-bottom: 4px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        color: $text-color;
    }

    &__link:hover .overlay {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 1200px){
    .card__item:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
}

.thumb-cards {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.portfolio__img {
    display: block;

    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform $animation-time $cubic,
        opacity $animation-time $cubic;

    &__text {
        padding: 63px 24px 63px 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        color: $primary-white-color;
    }
}