@mixin social-media ($background-color) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $social-media;
    background-color: $background-color;

    transition: fill $animation-time $cubic,
        background-color $animation-time $cubic;
}