
$page-font: ('Roboto', sans-serif);
$logo-font: ('Raleway', sans-serif);


$text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$background_color: #2f303a;
$header-underline:#ececec;
$section-team-background: #f5f4fa;
$social-media: #afb1b8;
$btn-hover-color:#188CE8;
$footer-link-color: rgba(255, 255, 255, 0.6);
$border-input:rgba(255, 255, 255, 0.3);
$footer-social-icon-bg:rgba(255, 255, 255, 0.1);
$backdrop-color:rgba(0, 0, 0, 0.2);
$close-btn-color:rgba(0, 0, 0, 0.1);
$modal-input-border:rgba(33, 33, 33, 0.2);
$textarea:rgba(117, 117, 117, 0.5);
$input-boxshadow:rgba(0, 0, 0, 0.15);
$overlay-bg-color:rgba(33, 150, 243, 0.9);
$projects-bg-color:rgba(47, 48, 58, 0.8);

$animation-time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

body {
    font-family: $page-font;
    background-color: $primary-white-color;
    color: $text-color;
    font-size: 14px;
    letter-spacing: 0.03em;
    
}

.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: 768px){
        max-width: 768px
    }

    @media screen and (min-width: 1200px){
        max-width: 1200px;
        
    }

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }   

}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: $title-text-color;

    margin-bottom: 30px;

    @media screen and (min-width: 1200px){
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

%btn {
    height: 50px;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    background-color: $accent-color;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    border: 2px solid transparent;

    transition: box-shadow $animation-time $cubic,
        background-color $animation-time $cubic;

    &:hover,
    &:focus {
        background-color: $btn-hover-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}


